<div class="col-md-3 weather-module">
  <div><%= weather_snippet[:date]%></div>
  <div><%= weather_snippet[:time] %></div>
  <div><%= weather_snippet[:temp] %>&deg;F</div>
  <div><%= weather_snippet[:description] %></div>
  <i class="owf owf-<%= weather_snippet[:id]%>"></i>
</div>
