<%= stylesheet_link_tag 'pages' %>

<style>
  body {
    width: 100%;
    height: 100%;
    background: url(<%= @post[:url] %>) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
</style>

<div class="bg-img">
  <div class="container">


    <div class="row">
      <div class="col-md-12 weather-title">
        <%= @post[:title] %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 location">
        <%= "#{@location_data["city"]}, #{@location_data["region_code"]}" %>
      </div>
    </div>
    <div class="row">
      <% @weather_display.each do |weather_snippet| %>
        <%= render partial: "weather_module", \
          locals: { weather_snippet: weather_snippet } %>
      <% end %>
    </div>
  </div>
</div>
